version: '3'

services:
  alert_bot:
    container_name: alert_bot
    build:
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    env_file:
      - .env
    restart: unless-stopped
    environment:
      TZ: "Europe/Kyiv"
    networks:
      - shared_network

networks:
  shared_network:
    external: true